files:
  "/etc/php.d/dte.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 1024M
      post_max_size = 1024M
      default_socket_timeout = 300
      file_uploads = On
      max_input_time = 300
      memory_limit = 1024M
      max_execution_time = 300
